<footer>
    <div id="infoFooter">
        <h3>Atendimento</h3>
        <p>Política de vendas, trocas e privacidade</p>
        <p>Termos e condições de compra</p>
        <p>Fale conosco</p>
    </div>
    <div id="infoFooter">
        <h3>Institucional</h3>
        <p>Sobre a Aviaras</p>
        <p>Relações com investidores</p>
        <p>Nossas lojas</p>
        <p>Trabalhe conosco</p>
        <p>Seja um parceiro</p>
    </div>
    <div id="infoFooter">
        <div id="formaPag">
            <h3>Formas de pagamento</h3>
            <div>
                <div id="imagensPag">
                    <img src="/cartao.png" alt="">
                    <img src="/cartao2.png" alt="">
                    <img src="/cartao3.webp" alt="">
                    <img src="/cartao4.png" alt="">
                </div>
                <div id="imagensPag">
                    <img src="/cartao2.png" alt="">
                    <img src="/cartao.png" alt="">
                    <img src="/cartao4.png" alt="">
                    <img src="/cartao3.webp" alt="">
                </div>
            </div>
        </div>
        <div id="formaPag">
            <h3>Segurança</h3>
            <div>
                <div id="imagensPag">
                    <img src="/cartao.png" alt="">
                    <img src="/cartao2.png" alt="">
                    <img src="/cartao3.webp" alt="">
                    <img src="/cartao4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>