<header id="header">
    <div id="logo">
        <img src="https://i.im.ge/2023/08/31/wST3XL.imagem-2023-08-30-191741648-removebg-preview.png">
    </div>
    <div id="usuario">
        <a href="/homepage" class="btn">Usuário</a>
        <i class="person-circle"></i>
    </div>
</header>