<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Bem-vindo ao sistema!</h1>
    <% if (usuario) { %>
      <p>Usuário logado: <%= usuario.nomeUser %></p>
      <form action="/delete" method="post">
        <input type="hidden" name="nomeUser" value="<%= usuario.nomeUser %>">
        <input type="submit" value="Excluir Usuário">
      </form>
    <% } %>
</body>
</html>
